<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panadería Blé D'art | Acerca de nosotros</title>
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header class="branding">
      <a href="./index.html" class="logo">
        <img
          src="../assets/images/Ble dart without.png"
          alt="Blé D'art"
          class="logo--img"
        />El trigo hecho arte, de Francia con amor!</a
      >
    </header>
    <nav class="navbar" id="myNavbar">
      <a href="../index.html" class="first">Inicio</a>
      <a href="./reposteria.html">Repostería</a>
      <a href="./pansalado.html">Pan Salado</a>
      <a href="./pandulce.html">Pan Dulce</a>
      <a href="./bocadillos.html">Bocadillos</a>
      <div class="dropdown">
        <button class="dropbtn">
          Pasteles
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="./pasteles.html">Pasteles</a>
          <a href="./personalizarpastel.html">Personalizar Pasteles</a>
        </div>
      </div>
      <a href="#acercade"  class="active">Acerca de nosotros</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()"
        >&#9776;</a
      >
    </nav>

    <main>
      <article>
        <div class="about-frame">
          <h3 class="about-title">Acerca de Nosotros</h3>

          <div class="about-content">
            <p>
              Actualmente nuestras siete SUCURSALES, son Administradas y
              Supervisadas por nuestro Gerente ALEXANDER SOLÍS BRENES
            </p>

            <p>
              En Panadería Blé D'art sólo trabajamos personas con muy altos
              estándares de calidad en nuestro trabajo y que cumplimos
              estrictamente con los lineamientos de calidad que hemos
              establecido, porque se necesita gente como nosotros para lograr la
              calidad que nos exigen nuestros clientes y mantener Panadería Blé D'art
              como la panadería más prestigiada de toda Costa Rica,
              desde hace 45 años.
            </p>

            <p>
              Después de un proceso riguroso de selección, todos debemos de
              integrarnos a los estandares de calidad que SOLÍS BRENES
              diseñó desde que se abrio la panaderia. Esto
              implica trabajo, dedicación, entrega y por supuesto, mucho orgullo
              de trabajar en Panadería Blé D'art.
            </p>

            <p>
              De igual Forma Si consideras que tienes el perfil para demostrar
              que puedes, haznos llegar tu solicitud de trabajo en un sobre
              cerrado en cualquiera de nuestras tiendas y si nos parece que
              cumples con lo que buscamos, se te dará una cita para
              entrevistarte. También puedes enviar tu CV y solicitud a
              <a href="mailto:cuenta@deemail.com" class="contact-us">panblédart@algo.com</a>, responsable de la contratación del talento en
              Panadería Blé D'art.
            </p>
          </div>
        </div>
      </article>
    </main>

    <footer>
      <div class="footer">
        <div class="row">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>

        <div class="row">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="#Repostería">Repostería</a></li>
            <li><a href="./pansalado.html">Pan Salado</a></li>
            <li><a href="./pandulce.html">Pan Dulce</a></li>
            <li><a href="./bocadillos.html">Bocadillos</a></li>
            <li><a href="./pasteles.html">Nuestros Pasteles</a></li>
            <li>
              <a href="./personalizarpastel.html">Personalizar Pasteles</a>
            </li>
            <li><a href="./acercade.html">Acerca de nosotros</a></li>
          </ul>
        </div>

        <div class="row">
          <p class="copyright" property="dc:rights">
            &copy;
            <span property="dc:dateCopyrighted">2022</span>
            <span property="dc:publisher">Blé D'art</span>
          </p>
        </div>
      </div>
    </footer>
    <script src=".././js/index.js"></script>
  </body>
</html>
