<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panaderia Blé D'art | Nuestros Pasteles</title>
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header class="branding">
      <a href="./index.html" class="logo">
        <img
          src="../assets/images/Ble dart without.png"
          alt="Blé D'art"
          class="logo--img"
        />El trigo hecho arte, de Francia con amor!</a
      >
    </header>
    <nav class="navbar" id="myNavbar">
      <a href="../index.html" class="first">Inicio</a>
      <a href="./reposteria.html">Repostería</a>
      <a href="./pansalado.html">Pan Salado</a>
      <a href="./pandulce.html">Pan Dulce</a>
      <a href="./bocadillos.html">Bocadillos</a>
      <div class="dropdown">
        <button class="dropbtn">
          Pasteles
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#Nuestros Pasteles.html" class="active">Pasteles</a>
          <a href="./personalizarpastel.html">Personalizar Pasteles</a>
        </div>
      </div>
      <a href="./acercade.html">Acerca de nosotros</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()"
        >&#9776;</a
      >
    </nav>

    <main>
      <section class="products-view">
        <ul class="product-item">
          <li class="bread-item">
            <img
              src="../assets/menu/cakes/cake-g8f3c5678d_1920.jpg"
              alt="Chocolate"
              class="img-bread"
            /><br />
            <p class="description-item">Chocolate</p>
            <p class="price-item">33,75 US$</p>
          </li>
          <li class="bread-item">
            <img
              src="../assets/menu/cakes/cake-gf2875bb0f_1920.jpg"
              alt="Zanahoria"
              class="img-bread"
            /><br />
            <p class="description-item">Zanahoria</p>
            <p class="price-item">28,75 US$</p>
          </li>
          <li class="bread-item">
            <img
              src="../assets/menu/cakes/cake-gff08871e3_1920.jpg"
              alt="Combinado"
              class="img-bread"
            /><br />
            <p class="description-item">Combinado</p>
            <p class="price-item">38,75 US$</p>
          </li>
          <li class="bread-item">
            <img
              src="../assets/menu/cakes/gugelhupf-g23750ffc3_1920.jpg"
              alt="Seco"
              class="img-bread"
            /><br />
            <p class="description-item">Seco</p>
            <p class="price-item">23,25 US$</p>
          </li>
          <li class="bread-item">
            <img
              src="../assets/menu/cakes/happy-birthday-gadbe3c105_1920.jpg"
              alt="Semillas"
              class="img-bread"
            /><br />
            <p class="description-item">Semillas</p>
            <p class="price-item">30,85 US$</p>
          </li>
          <li class="bread-item">
            <img
              src="../assets/menu/cakes/happy-birthday-gcb21b24ab_1920.jpg"
              alt="Frio"
              class="img-bread"
            /><br />
            <p class="description-item">Frio</p>
            <p class="price-item">29,05 US$</p>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <div class="footer">
        <div class="row">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>

        <div class="row">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="#Repostería">Repostería</a></li>
            <li><a href="./pansalado.html">Pan Salado</a></li>
            <li><a href="./pandulce.html">Pan Dulce</a></li>
            <li><a href="./bocadillos.html">Bocadillos</a></li>
            <li><a href="#Nuestros Pasteles">Nuestros Pasteles</a></li>
            <li>
              <a href="./personalizarpastel.html">Personalizar Pasteles</a>
            </li>
            <li><a href="./acercade.html">Acerca de nosotros</a></li>
          </ul>
        </div>

        <div class="row">
          <p class="copyright" property="dc:rights">
            &copy;
            <span property="dc:dateCopyrighted">2022</span>
            <span property="dc:publisher">Blé D'art</span>
          </p>
        </div>
      </div>
    </footer>
    <script src=".././js/index.js"></script>
  </body>
</html>
